body {
    background-color: #444;
    color: #aaa;
}

table {
    border-spacing: 0px;
    font-family: monospace;
    font-size: 1.3em;
}

td {
    padding: 1ch;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #666;
}

.magic-streak {
    color: #aaa;
    font-size: 1.8em;
}

.alltime {
    color: #0c1131;
    font-size: 1.4em;
}

.name-bar {
    background-color: #888;
}

.day-record {
    background-color: #555;
    color: #ccc;
}

.day-record .allday {
    color: #1d2559;
}

.allday {
    color: #0c1131;
    font-size: 1.5em;
}

.max {
    text-decoration: underline;
}

.graph {
    display: flex;
    height: 10em;
}

.graph-horizontal {
    height: 100%;
    display: flex;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > * {
    margin: 1ch;
}

.retract-link {
    color: #ee3311;
    text-decoration: none;
    display: none;
}

a {
    color: #1d2559;
}

*:hover > .retract-link {
    display: inline;
}


@media(min-resolution:1.25dppx) {
    body {
        font-size: 1.5em;
    }
    input, select {
        font-size: 3em;
        width: 15ch;
    }
}

